.notfoundbutton{
    display: inline-block;
    background: rgb(72, 219, 72);;
    color: #fff;
    font-size: 29px;
    padding: 12px 36px;
    margin-top: 0rem;
    font-weight: 400;
    border-radius: 15px;
    border: 2px solid rgb(72, 219, 72);;
    transition: all 0.3s ease;
    border-top-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: static;
}

.notfoundbutton:hover{
    color: rgb(72, 219, 72);;
    background: none;
    cursor: pointer;
}

.notfound{
    background-color: black;
}

.notfoundtitle{
    color: whitesmoke;
}
